name: Nightly debug build

on: [push, pull_request]

jobs:
  apk_gen:
    name: Nightly debug build
    runs-on: ubuntu-latest
    steps:
      - name: Get code from the current repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Reconfigure git to use HTTP
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/

      - name: Install Java
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: adopt
          cache: gradle

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install app dependencies
        run: npm install

      - name: Make ./gradlew command executable
        run: cd android && chmod +x ./gradlew && cd ..

      - name: Generate APK
        run: cd android && ./gradlew assembleRelease

      - name: Rename APK
        run: mv android/app/build/outputs/apk/release/app-release.apk android/app/build/outputs/apk/release/offsides-nightly.apk

      - name: Create prerelease
        uses: ncipollo/release-action@v1.14.0
        with:
          name: Offsides [LATEST NIGHTLY]
          artifacts: android/app/build/outputs/apk/release/offsides-nightly.apk
          body: This is a nightly release - do not use if you are not prepared for bugs and glitches.  Instead, try the latest versioned release.
          prerelease: true
          allowUpdates: true
